@font-face {
	font-family: inky;
	src: url(../fonts/inky.ttf);
}
@font-face {
	font-family: century;
	src: url(../fonts/CENTURY.TTF);
}
@font-face {
	font-family: batang;
	src: url(../fonts/batang.ttc);
}
@font-face {
  font-family: 'FashionFetishLight';
  src: url('../fonts/FashionFetishLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima';
  src: url('../fonts/proxima_nova_regular.woff');
  font-weight: normal;
  font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	transition: all .2s;
}
body {
	color: #333333;
	font-family: 'Proxima', 'Arial', sans-serif;
}

.header {
	width: 100%;
	height: 500px;
	background: linear-gradient(rgba(56, 54, 54, 0.78), rgba(56, 54, 54, 0.78)), url(../img/default-bg.png);
	background-size: cover;
}
header {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.nav {
	width: 94%;
	margin: 0 auto;
	padding: 3%;
	display: flex;
	justify-content: space-between;
}
.logo {
	font-size: 28px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 600;
}
.logo a {
    display: flex;
    align-items: center;
    width: 174px;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
}
.logo-hover {
	display: none;
	width: 50px;
	height: 60px;
}
.logo-img {
	width: 50px;
	height: 60px;
}
.logo a:hover {
	color: #d2b356;

}
.logo a:hover .logo-img {
	display: none;
}
.logo a:hover .logo-hover {
	display: block;
}
.menu {
    width: 65%;
    align-self: center;
}
.menu ul {
	list-style: none;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
}
.main-menu li:last-child {
    margin: 0 0 0 13%;
}
.menu a{
	text-decoration: none;
	color: #fff;
}
.menu a:hover {
	color: #d2b356;
}
.navbar {
	display: none;
}
h1 {
	font-family: 'inky', sans-serif;
	font-size: 50px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	letter-spacing: .3em;
}
.blog-header {
	overflow: overlay;
}
.social {
	margin: 3% auto 3%;
	text-align: center;
	width: 15%;
	display: flex;
	justify-content: space-between;
}
.social a{
	text-decoration: none;
}
.blog-main {
	max-width: 1024px;
	width: 80%;
	margin: 0 auto;
	padding: 3% 5%;
}
.blog-tech {
	width: 70%;
	display: flex;
    flex-wrap: wrap;
    line-height: 30px;
}
.time_read {
	font-weight: bold;
}
.blog-tech p {
	width: 48%;
}
.blog-tech p:first-child {
	margin: 0 0 2%;
	opacity: 0.7;
}
.blog-tech a {
	color: #d2b356;
	font-weight: bold;
	text-decoration: none;
}
.blog-tech img {
	margin: 0 3% 0 -1%;
}
a.blog-tech__widget {
	color: #111;
	width: 40%;
	text-align: center;
	text-decoration: none;
	border: 3px solid #111;
}
.blog-content {
	text-align: justify;
	margin: 3% 0;
    font-size: 20px;
    line-height: 1.7;

}
.blog-content a{
	color: #d2b356;
}
.blog-content a:hover {
	text-decoration: none;
}
.blog-content p {
	margin: 6% 0;
}
.blog-content ul {
	margin: 0 0 0 3%;
}
.blog-content li {
	list-style: none;
    background: url(../img/star-1.png) no-repeat;
    background-size: 1.5%;
    background-position-y: center;
    padding: 0 0 0 4%;
    margin: 0 0 1% 12.5%;
}
p.quote {
    font-family: 'FashionFetishLight';
    border-left: 10px solid #d2b356;
    padding: 0 0 0 2.8%;
    margin: 0 0 0 15%;
    height: 7em;
    display: flex;
    align-items: center;
}
.blog-end img {
	vertical-align: middle;
}
.tags a {
	color: #000;
}
.social-end {
	display: flex;
	line-height: 45px;
    width: 23%;
    justify-content: space-between;
}
.social-end a {
	text-decoration: none;
}
.footer, .popular-blogs {
	max-width: 1024px;
	width: 94%;
	padding: 0 3% 3%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer {
	color: #999;
	margin: 3% auto;
	padding: 0 3%;
	font-size: 12px;
}
.footer ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
    width: 45%;
}
.footer a {
	text-decoration: none;
	color: #999;
	font-weight: bold;
}
.popular-blogs h2 {
	width: 100%;
	line-height: 70px;
	text-transform: uppercase;
}
.popular-blogs a {
	text-decoration: none;
	color: #000;
}
.popular-item {
	width: 30%;
	text-align: center;
}
.popular-item div {
	background-size: cover;
	width: 100%;
	margin: 0 auto;
	height: 15vw;
	margin: 0 0 3%;
}
.first-line {
	background-image: url(../img/off-line.png);
}
.second-line {
	background-image: url(../img/site.png);
}
.third-line {
	background-image: url(../img/branding.png);
}
.popular-item span:first-child {
	color: #ccc;
}
.popular-item span:last-child {
	color: #999;
}
/**/
.logo img:hover {
	color: #d2b356;
}
header li:hover, .social img:hover, .blog-tech__widget:hover, .social-end img:hover, .popular-item:hover, .footer li:hover {
	opacity: 0.7;
}
header li:hover, .social img:hover, .social-end img:hover {
	text-shadow: 0 0 15px #000;
}
.popular-item div:hover {
	box-shadow: 0 0 15px #adadad;
}
.blog-tech__widget:hover {
    border-color: #d2b356;
    color: #d2b356;
}
.footer li:hover {
	text-shadow: 0 0 8px #dec7c7;
}
.footer li:nth-child(n+3) {
	opacity: 0.4;
}
@media screen and (max-width: 922px) {
	.menu > ul {
		display: none;
	}
	.navbar {
		display: flex;
		justify-content: flex-end;
		text-transform: uppercase;
	}
	.navbar button {
		margin: 0 0 0 5%;
		background: none;
		border: none;
	}

	.sandwich {
		display: flex;
		flex-direction: column;

	}	
	.sandwich > div {
		width: 20px;
		height: 3px;
		border-bottom: 3px solid #fff;
	}
	.sandwich > div:first-child {
		height: 0;
	}
	ul.menu-hidden {
		display: none;
	    position: absolute;
	    right: 2%;
	    margin: 2% 0;
	}
	.navbar button:focus .menu-hidden {
		display: block;
		display: flex;
		width: 30%;
	}
	.social-end {
	    width: 50%;
	}
}
@media screen and (max-width: 768px) {

	h1 {
		width: 90%;
	}
	.blog-tech {
    	width: 60%;
    	margin: 0 auto;
	}
	.social-end {
	    width: 50%;
	}
	.footer ul {
    justify-content: space-around;
    width: 100%;
	}
	.footer p {
		width: 100%;
		text-align: center;
		margin: 5% 0 3%;
	}
}
@media screen and (max-width: 600px) {
	.popular-item {
	    width: 80%;
	    margin: 0 auto;
	}	
	.popular-item div {
	    width: 100%;
	    height: 40vw;
	}
	.popular-blogs h2, .blog-end {
		text-align: center;
	}
	.social-end {
		margin: 0 auto;
		width: 70%;
	}
	.footer ul {
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.footer li {
		text-align: center;
		margin: 0 0 3%;
	}
	.footer li {
		width: 100%;
	}
	.footer li:nth-child(n+3){
		width: 10%;
	}
}
